<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cancioen</title>
  </head>
  <body class="body">
    <h1>{{cancion['t.Name']}}</h1>

    <table>
      <tr>
        <td>compositor/es</td>
        <td>Bytes</td>
        <td>cancion</td>
        <td>duracion milisegundos</td>
        <td>Genero</td>
      </tr>
    </table>

    <tr>
      <td>{{ cancion ['compositor']}}</td>
    </tr>
    <tr>
      <td>{{ cancion ['Bytes']}}</td>
    </tr>
    <td>{{ cancion ['cancion']}}</td>
    <td>{{ cancion ['milisegundos']}}</td>
    <td>{{ cancion ['genero']}}</td>
  </body>
</html>
