<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/genero.css" />
    <title>Spotify</title>
    <style></style>
  </head>
  <body class="body">
    <table class="table">
      <tr>
        <th class="th2">cancion</th>
        <th class="th2">artista</th>
      </tr>
      {% for m in musica %}
      <tr class="tr2">
        <td class="td3">
          <a href="{{ url_for('cancion.detalle', id=m['TrackId']) }}">
            {{ m ['cancion'] }}
          </a>
        </td>

        <td class="td2">
          <a href="{{ url_for('artista.detalle', id=m['idA']) }}"
            >{{ m['artista'] }}
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
