.body {
  background-color: rgb(193, 139, 243);
}
td,
th {
  background: #fff;
  color: #000;
}
.tablee {
  border-collapse: separate;
  border-spacing: 4px;
  background: #b479f7 url("gradient.gif") bottom left repeat-x;
  color: #bb6161;
}
